[Desktop Entry]
Type=Application
Name=mdviewplus
GenericName=Markdown-Viewer
Comment=Markdown-Viewer mit Mermaid und Live-Reload
Exec=mdviewplus %f
Icon=mdviewplus
Terminal=false
Categories=Utility;
MimeType=text/markdown;text/x-markdown;
NoDisplay=false
